beautifulsoup4==4.11.1
Django==3.2.5
django_environ==0.10.0
djangorestframework==3.14.0
django-cors-headers==4.2.0
gunicorn==21.2.0
pandas==1.5.3
PyMySQL==1.1.0
requests==2.31.0
strsimpy==0.1.9
tabula_py==2.6.0
install-jdk==1.1.0 
html5lib==1.1 
lxml==4.9.3 